body {
    --black: black;
    --white: white;
    --light_white: rgb(200, 200, 200);
    --dark_white: rgb(150, 150, 150);
    --dark_gray: rgb(100, 100, 100);
    --light_black: rgb(50, 50, 50);
    --yellow: #caf822;
    --blue: rgb(0, 140, 255);
    --silver_grad: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(200, 200, 200, 1) 80%, rgba(177, 177, 177, 1) 100%);
    --blue_grad: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(14, 14, 68, 1) 46%, rgba(0, 113, 136, 1) 100%);
    --green-grad: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(171, 255, 159, 1) 80%, rgba(127, 255, 111, 1) 100%);

    margin: 0;
    padding: 0;
    max-width: 100%;
    overflow-x: hidden;
    background: var(--light_black);
    animation: gradient 15s ease infinite;
    height: 100vh;
    color: var(--white);
    font-family: Courier New, monospace;
    position: relative;
}

.main {
    min-height: 87vh;
    padding: 0;
    margin: 0;
}

.iffy-title {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
}

.navbar {
    height: 3rem;
    width: 100vw;
    position: fixed;
    background-color: var(--black);
}

.navbar-nav {
    margin: 0;
    padding-left: 2 rem;
    list-style: none;
    display: flex;
    align-items: center;
}

.nav-item {
    height: 100%;
}

.nav-item:last-child {
    margin-left: auto;
    margin-right: 2rem;

}

.nav-link {
    display: flex;
    align-items: center;
    height: 3rem;
    color: var(--dark_gray);
    text-decoration: none;
    padding-left: 2rem;
    padding-right: 2rem;
}

.nav-text {
    display: flex;
    font-size: 1rem;
}

.nav-link:hover {
    color: var(--light_white);
    transition: 200ms;
    background-color: var(--light_black);
    cursor: pointer;
}

.header-block {
    /* padding: 3rem 10% 2rem 10%; */
    /* background: var(--black_to_blue); */
    /* clip-path: polygon(50% 3rem, 100% 3rem, 100% 65%, 50% 150%, 0 65%, 0 3rem); */
    /* text-align: center; */
    height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-title {
    color: var(--white);
    font-weight: 500;
    font-size: 3rem;
    margin-bottom: 0;
}

.center-wrapper {
    color: var(--light_white);
    font-style: italic;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-text {
    animation: typing 7s steps(91), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    width: 91ch;
}

.title {
    font-family: Andale Mono, monospace;
    font-weight: 100;
    color: var(--white);
}

.content {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5rem;
    padding-bottom: 5rem;
    background: var(--light_black);
}

.blog-list {
    list-style: ">>> ";
}

.content a {
    text-shadow:
        0 0 5px var(--blue);
    color: var(--blue);
}

.content a:hover {
    color: var(--black);
    text-shadow: none;
    border-radius: 2px;
    background-color: var(--yellow);
}

.content a:visited {
    text-shadow:
        0 0 5px var(--blue);
    color: var(--blue);
}

.content a:visited:hover {
    color: var(--black);
    text-shadow: none;
    border-radius: 2px;
    background-color: var(--yellow);
}

.footer-block {
    background: var(--light_black);
    padding: 2rem;
    border-top: var(--dark_white) 2px solid;
    bottom: 0;
    width: 100vw
}

.footer-list {
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.footer-item {
    height: 100%;
}

.footer-title {
    height: 100%;
    font-weight: 900;
}

.split {
    margin-left: 2rem;
}

.footer-split {
    height: 100%;
    font-weight: 900;
}

.footer-link {
    height: 100%;
    color: var(--white);
    text-decoration: none;
}

.footer-link:hover {
    text-decoration: underline;
}

@media only screen and (max-width: 1000px) {
    .content {
        margin-left: 0%;
        margin-right: 0%;
    }

    .header-block {
        padding: 2rem 0% 2rem 0%;
    }
}

@keyframes typing {
    from {
        width: 0
    }
}

@keyframes blink {
    50% {
        border-color: transparent
    }
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}