<div class="footer-block">
    <ul class="footer-list">
        <li class="footer-title">
            Elsewhere
        </li>
        <li class="footer-split">
            |
        </li>
        <li class="footer-item">
            <a href="https://github.com/IRFrench" class="footer-link">Github</a>
        </li>
        <li class="footer-title split">
            Source
        </li>
        <li class="footer-split">
            |
        </li>
        <li class="footer-item">
            <a href="https://github.com/IRFrench/WhatIsWrongWithMyComputer.co.uk" class="footer-link">Site</a>
        </li>
    </ul>
</div>